.header{
  display: flex;
  align-items: flex-start;
  max-width: 880px;
  margin: 45px 200px 0 200px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1279px) {
  .header{
    max-width: 320px;
    margin: 28px 0 0 0;
  }
}
